@model Create.Command

<form method="post" asp-action="Update">
  <label asp-for="Id"></label>
  <input asp-for="Id">
  
  <label asp-for="CompanyName"></label>
  <input asp-for="CompanyName">
  
  <label asp-for="ContactTitle"></label>
  <input asp-for="ContactTitle">
  
  <label asp-for="ContactName"></label>
  <input asp-for="ContactName">
  
  <label asp-for="Phone"></label>
  <input asp-for="Phone">
  
  <label asp-for="Fax"></label>
  <input asp-for="Fax">
  
  <button>Save</button>
</form>