<nav class="nav">
  <div class="nav-left">
    <a class="brand" asp-controller="Home">Home</a>
    <div class="tabs">
      <a asp-controller="Categories">Categories</a>
      <a asp-controller="Customers">Customers</a>
      <a asp-controller="Employees">Employees</a>
      <a href="#">Orders</a>
      <a asp-controller="Products">Products</a>
      <a href="#">Regions</a>
      <a href="#">Shippers</a>
      <a href="#">Suppliers</a>
      <a href="#">Territories</a>
      <a href="#">Users</a>
    </div>
  </div>
  <div class="nav-left">
    <form method="post" asp-controller="Account" asp-action="Logout" asp-authorize>
      <button class="button primary">Logout</button>
    </form>
  </div>
</nav>

