<x-footer>
  <x-nav-section>
    <x-nav-item>
      <a href="#">Home</a>
    </x-nav-item>
  </x-nav-section>
  <x-nav-section>
    <x-nav-item>
      <a href="#">About</a>
    </x-nav-item>
    <x-nav-item>
      <a href="#">Services</a>
    </x-nav-item>
    <x-nav-item>
      <a href="#">Contact</a>
    </x-nav-item>
  </x-nav-section>
  <x-nav-section>
    <x-nav-item>
      <a href="#">Github</a>
    </x-nav-item>
    <x-nav-item>
      <a href="#">Twitter</a>
    </x-nav-item>
  </x-nav-section>
</x-footer>