<head>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>@ViewData["Title"]</title>

  @* Libraries *@
  <environment include="Development">
    <link rel="stylesheet" href="~/lib/picnic/picnic.css">
    </environment>
  <environment include="Staging,Production">
    <link rel="stylesheet" href="~/lib/picnic/picnic.min.css">
  </environment>
  
  <link rel="stylesheet" href="~/lib/kiss/main.css">

</head>