@model Northwind.Application.Customers.Commands.Create.Command

<fieldset>
  <form method="post" asp-action="Create">
    <x-field>
      <label asp-for="Id"></label>
      <input asp-for="Id">
      <span asp-validation-for="Id"></span>
    </x-field>
    <x-field>
      <label asp-for="CompanyName"></label>
      <input asp-for="CompanyName">
      <span asp-validation-for="CompanyName"></span>
    </x-field>
    <x-field>
      <label asp-for="ContactTitle"></label>
      <input asp-for="ContactTitle">
      <span asp-validation-for="ContactTitle"></span>
    </x-field>
    <x-field>
      <label asp-for="ContactName"></label>
      <input asp-for="ContactName">
      <span asp-validation-for="ContactName"></span>
    </x-field>
    <x-field>
      <label asp-for="Address"></label>
      <input asp-for="Address">
      <span asp-validation-for="Address"></span>
    </x-field>
    <x-field>
      <label asp-for="City"></label>
      <input asp-for="City">
      <span asp-validation-for="City"></span>
    </x-field>
    <x-field>
      <label asp-for="Region"></label>
      <input asp-for="Region">
      <span asp-validation-for="Region"></span>
    </x-field>
    <x-field>
      <label asp-for="PostalCode"></label>
      <input asp-for="PostalCode">
      <span asp-validation-for="PostalCode"></span>
    </x-field>
    <x-field>
      <label asp-for="Country"></label>
      <input asp-for="Country">
      <span asp-validation-for="Country"></span>
    </x-field>
    <x-field>
      <label asp-for="Phone"></label>
      <input asp-for="Phone">
      <span asp-validation-for="Phone"></span>
    </x-field>
    <x-field>
      <label asp-for="Fax"></label>
      <input asp-for="Fax">
      <span asp-validation-for="Fax"></span>
    </x-field>
    <x-field>
      <button>Save</button>
    </x-field>
  </form>
</fieldset>

<div id="result"></div>