@using Northwind.Domain.Types
@model Northwind.Application.Employees.Queries.Details.Model

<fieldset>
  <form method="post" asp-action="Update">
    <x-field>
      <label asp-for="Id"></label>
      <input asp-for="Id" readonly>
    </x-field>
    <x-field>
      <label asp-for="Title"></label>
      <input asp-for="Title">
    </x-field>
    <x-field>
      <label asp-for="FirstName"></label>
      <input asp-for="FirstName">
    </x-field>
    <x-field>
      <label asp-for="LastName"></label>
      <input asp-for="LastName">
    </x-field>
    <x-field>
      <label asp-for="Gender"></label>
      <select asp-for="Gender" class="form-control" asp-items="Html.GetEnumSelectList<Gender>()">
        <option disabled selected value="">-- Select --</option>
      </select>
    </x-field>
    <x-field>
      <label asp-for="BirthDate"></label>
      <input asp-for="BirthDate" class="input__date" type="text">
    </x-field>
    <x-field>
      <label asp-for="Address"></label>
      <input asp-for="Address">
    </x-field>
    <x-field>
      <label asp-for="City"></label>
      <input asp-for="City">
    </x-field>
    <x-field>
      <label asp-for="Region"></label>
      <input asp-for="Region">
    </x-field>
    <x-field>
      <label asp-for="PostalCode"></label>
      <input asp-for="PostalCode">
    </x-field>
    <x-field>
      <label asp-for="Country"></label>
      <input asp-for="Country">
    </x-field>
    <x-field>
      <label asp-for="HomePhone"></label>
      <input asp-for="HomePhone">
    </x-field>
    <x-field>
      <label asp-for="Position"></label>
      <input asp-for="Position">
    </x-field>
    <x-field>
      <label asp-for="Extension"></label>
      <input asp-for="Extension">
    </x-field>
    <x-field>
      <label asp-for="HireDate"></label>
      <input asp-for="HireDate" class="input__date" type="text">
    </x-field>
    <x-field>
      <label asp-for="Notes"></label>
      <input asp-for="Notes">
    </x-field>
    <x-field>
      <button>Save</button>
    </x-field>
  </form>
</fieldset>