<?xml version="1.0" encoding="utf-8" ?>
<nlog autoReload="true" throwConfigExceptions="true">
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  <targets>
    <target type="Console" name="console">
      <layout>
        <attribute name="level" layout="${uppercase:${level}}" />
        <attribute name="logger" layout="${logger}" />
        <attribute name="controller" layout="${aspnet-mvc-controller}" />
        <attribute name="action" layout="${aspnet-mvc-action}" />
        <attribute name="message" layout="${message} ${exception:format=tostring}" />
      </layout>
    </target>
    <target type="Database" name="database" dbProvider="Microsoft.Data.Sqlite.SqliteConnection, Microsoft.Data.Sqlite"
      connectionString="DataSource=../../db/log.db">

      <commandText>
        INSERT INTO Log(Timestamp, Loglevel, Logger, Callsite, Url, Controller, Action, Message)
        VALUES (@Timestamp, @Loglevel, @Logger, @Callsite, @Url, @Controller, @Action, @Message)      
      </commandText>
      
      <parameter name="@Timestamp" layout="${longdate}"/>
      <parameter name="@Loglevel" layout="${level:uppercase=true}"/>
      <parameter name="@Logger" layout="${logger}"/>
      <parameter name="@Callsite" layout="${callsite:filename=true}"/>
      <parameter name="@Url" layout="${aspnet-request-url}"/>
      <parameter name="@Controller" layout="${aspnet-mvc-controller}"/>
      <parameter name="@Action" layout="${aspnet-mvc-action}"/>
      <parameter name="@Message" layout="${message}"/>
    </target>
  </targets>
  <rules>
    <logger name="Microsoft.EntityFrameworkCore.Database.Command" minlevel="Info" writeTo="console,database" />
    <logger name="Microsoft.*" maxlevel="Warn" final="true" />
    <logger name="*" minlevel="Info" writeTo="console,database" />
  </rules>
</nlog>